<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/main.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"></script>
  <title>Portfolio</title>
</head>

<body>
  <div class="frame">
    <div class="main-frame">
      <div class="left-frame">
        <div class="left_1">
          <div class="left_img"><img src="images/profile.jpg" width="156px" height="142px" alt=""></div>
          <div class="left_name"><%=user.name%></div>
          <div class="left_prof"><%=user.profession%></div>
          <div class="left_social">
            <a class="link_href" href="https://www.facebook.com/kamoliddin.xalilov">
              <div class="icons">
                <img class="icon" src="/author/icon/Icons-facebook.png" alt="">
              </div>
            </a>
            <a class="link_href" href="https://www.instagram.com/khalilov.93/">
              <div class="icons">
                <img class="icon" src="/author/icon/Icons-instagram.png" alt="">
              </div>
            </a>
            <a class="link_href" href="https://t.me/kkhalilov93">
              <div class="icons">
                <img class="icon" src="/author/icon/Icons-twitter.png" alt="">
              </div>
            </a>
            <a class="link_href" href="https://www.linkedin.com/in/kamoliddin-xalilov-6a7314124/">
              <div class="icons">
                <img class="icon" src="/author/icon/Icons-linkedin.png" alt="">
              </div>
            </a>
            <a class="link_href" href="https://www.youtube.com/">
              <div class="icons">
                <img class="icon" src="/author/icon/Icons-Youtube.png" alt="">
              </div>
            </a>
            <a class="link_href" href="/author/icon/Icons-twitter.png">
              <div class="icons">
                <img class="icon" src="/author/icon/Icons-dribbble.png" alt="">
              </div>
            </a>
          </div>
        </div>
        <div class="marginer"></div>
        <div class="left_2">
          <ul class="list-row">
            <li>
              <span class="left_key">Age:</span><span></span><%=user.age%></span>
            </li>
            <li>
              <span class="left_key">Residence:</span><span><%=user.residence%></span>
            </li>
            <li>
              <span class="left_key">Freelance:</span><span style="color:#7EB942"><%=user.freelance%></span>
            </li>
            <li>
              <span class="left_key">Address:</span><span><%=user.address%></span>
            </li>
          </ul>
        </div>
        <div class="marginer"></div>
        <div class="left_3">
          <div class="left_title">Languages</div>
          <ul class="list-row">
            <li>
              <span><%=user.languages[0]%></span><span>100%</span>
            </li>
            <div><svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
              <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
              <rect x="2" y="2" width="218" height="2" rx="1" fill="#FFB400"/>
              </svg></div>          
            <li>
              <span><%=user.languages[1]%></span><span>80%</span>
            </li>
            <div><svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
              <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
              <rect x="2" y="2" width="195" height="2" rx="1" fill="#FFB400"/>
              </svg></div>          
            <li>
              <span><%=user.languages[2]%></span><span>75%</span>
            </li>
            <div><svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
              <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
              <rect x="2" y="2" width="170" height="2" rx="1" fill="#FFB400"/>
              </svg></div>
          </ul>
        </div>
        <div class="marginer"></div>
        <div class="left_4">
          <div class="left_title">Skills</div>
          <ul class="list-row">
            <li>
              <span><%=user.skills[0]%></span><span>100%</span>
            </li>
            <div><svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
              <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
              <rect x="2" y="2" width="218" height="2" rx="1" fill="#FFB400"/>
              </svg></div>          
            <li>
              <span><%=user.skills[1]%></span><span>90%</span>
            </li>
            <div><svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
              <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
              <rect x="2" y="2" width="200" height="2" rx="1" fill="#FFB400"/>
              </svg></div>          
            <li>
              <span><%=user.skills[2]%></span><span>75%</span>
            </li>
            <div><svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
              <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
              <rect x="2" y="2" width="170" height="2" rx="1" fill="#FFB400"/>
              </svg></div>
            <li>
              <span><%=user.skills[3]%></span><span>75%</span>
            </li>
            <div><svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
              <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
              <rect x="2" y="2" width="170" height="2" rx="1" fill="#FFB400"/>
              </svg></div>          
            <li>
              <span><%=user.skills[4]%></span><span>60%</span>
            </li>
            <div><svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
              <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
              <rect x="2" y="2" width="140" height="2" rx="1" fill="#FFB400"/>
              </svg></div>
          </ul>
        </div>
        <div class="marginer"></div>
        <div class="left_5">
          <div class="left_title">Extra Skills</div>
          <ul class="">
            <li>
              <div><img src="/author/icon/list_icon.png" alt=""></div>
              <span><%=user.extra_skills[0]%></span>
            </li>
            <li>
              <div><img src="/author/icon/list_icon.png" alt=""></div>
              <span><%=user.extra_skills[1]%></span>
            </li>
            <li>
              <div><img src="/author/icon/list_icon.png" alt=""></div>
              <span><%=user.extra_skills[2]%></span>
            </li>
            <li>
              <div><img src="/author/icon/list_icon.png" alt=""></div>
              <span><%=user.extra_skills[3]%></span>
            </li>
          </ul>  
        </div>
        <div class="marginer"></div>
      </div>
      <div class="mid-frame">
        <div class="mid_top">
          <div class="mid_left">
            <div class="mid_title">Software Engineer (fullstack)</div>
            <div class="mid_sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
            <button class="mid_btn" type="button" onclick="alert('Thank you for hiring!')">HIRE ME <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <g clip-path="url(#clip0_2_2655)">
              <path d="M10.7812 7.33312L7.20517 3.75712L8.14784 2.81445L13.3332 7.99979L8.14784 13.1851L7.20517 12.2425L10.7812 8.66645H2.6665V7.33312H10.7812Z" fill="#2B2B2B"/>
              </g>
              <defs>
              <clipPath id="clip0_2_2655">
              <rect width="16" height="16" fill="white"/>
              </clipPath>
              </defs>
              </svg>
            </button>
          </div>
          <div class="mid_right">
            <div class="mid_img"><img src="/author/images/prof1.png" width="280px" height="459.09px" alt=""></div>
          </div>          
          <img class="ellipse_12" src="/author/icon/ellipse_12.svg">
          <img class="ellipse_15" src="/author/icon/ellipse_15.svg">
          <img class="ellipse_16" src="/author/icon/ellipse_16.svg">
          <img class="ellipse_17" src="/author/icon/ellipse_15.svg">
          <img class="rectangle_52" src="/author/icon/rectangle_52.svg">
          <img class="rectangle_51" src="/author/icon/rectangle_51.png">
          <img class="polygon_1" src="/author/icon/polygon_1.svg">
        </div>

        <div class="mid_bottom">
          <div class="bottom_title">my services</div>
          <div class="bottom_sub-title">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
          <div class="bottom_section">
            <ul>
              <a class="bottom_link" href="">
                <li class="bottom_list">
                  <img src="/author/box_images/coding.png" width="74px" height="74px" alt="">
                  <div class="mini_title">web development</div>
                  <div class="mini_sub-title">blog, e-commerce</div>
                </li>
              </a>
              <a class="bottom_link" href="">
                <li class="bottom_list">
                  <img src="/author/box_images/illustration.png" width="74px" height="74px" alt="">
                  <div class="mini_title">uI/uX design</div>
                  <div class="mini_sub-title">Mobile app, website design</div>
                </li>
              </a>
              <a class="bottom_link" href="">
                <li class="bottom_list">
                  <img src="/author/box_images/microphone.png" width="74px" height="74px" alt="">
                  <div class="mini_title">sound design</div>
                  <div class="mini_sub-title">Voice Over, Beat Making</div>
                </li>
              </a>
              <a class="bottom_link" href="">
                <li class="bottom_list">
                  <img src="/author/box_images/game-development.png" width="74px" height="74px" alt="">
                  <div class="mini_title">game design</div>
                  <div class="mini_sub-title">Character Design, Props & Objects</div>
                </li>
              </a>
              <a class="bottom_link" href="">
                <li class="bottom_list">
                  <img src="/author/box_images/photographer.png" width="74px" height="74px" alt="">
                  <div class="mini_title">photography</div>
                  <div class="mini_sub-title">portrait, product photography</div>
                </li>
              </a>
              <li class="bottom_list">
                <div class="mini_title">advertising</div>
                <div class="mini_sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                <a class="order_link" href="">ORDER NOW ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right-frame">
        <div class="right_top"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
          <g clip-path="url(#clip0_2_6707)">
          <path d="M15.5 27C8.59625 27 3 21.4037 3 14.5C3 7.59625 8.59625 2 15.5 2C22.4037 2 28 7.59625 28 14.5C28 21.4037 22.4037 27 15.5 27ZM7.16125 20.0312C7.98286 21.2605 9.06683 22.2923 10.3351 23.0523C11.6034 23.8123 13.0245 24.2816 14.4959 24.4264C15.9674 24.5712 17.4526 24.3879 18.8448 23.8897C20.2369 23.3915 21.5012 22.5908 22.5466 21.5452C23.5921 20.4997 24.3927 19.2353 24.8908 17.8432C25.3888 16.451 25.572 14.9657 25.4271 13.4943C25.2822 12.0228 24.8127 10.6018 24.0526 9.3336C23.2925 8.06538 22.2606 6.98149 21.0312 6.16C21.5702 8.08278 21.5875 10.1144 21.0814 12.0461C20.5752 13.9778 19.5639 15.7398 18.1513 17.1513C16.74 18.5637 14.9781 19.5749 13.0467 20.081C11.1152 20.5872 9.08385 20.57 7.16125 20.0312Z" fill="#2B2B2B"/>
          </g>
          <defs>
          <clipPath id="clip0_2_6707">
          <rect width="30" height="30" fill="white"/>
          </clipPath>
          </defs>
          </svg>
        </div>
        <div class="right_middle">
          <a class="first" href="" ><div class="right_circle"><img src="/author/menu_icon/home.png" alt=""></div></a>
          <div class="pop-up"><img src="/author/menu_icon/union.png" alt=""></div>
          <a href=""><div class="right_circle"><img src="/author/menu_icon/file-code.png" alt=""></div></a>
          <a href=""><div class="right_circle"><img src="/author/menu_icon/cv.png" alt=""></div></a>
          <a href=""><div class="right_circle"><img src="/author/menu_icon/portfolio.png" alt=""></div></a>
          <a href=""><div class="right_circle"><img src="/author/menu_icon/blog.png" alt=""></div></a>
          <a href=""><div class="right_circle"><img src="/author/menu_icon/contact.png" alt=""></div></a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>